<div class="bg-header">
  <div class="custom-container">
    <div class="row">
      <div class="col s12">
        <h1 class="header-title">Upload Files</h1>
      </div>
    </div>
  </div>
</div>

<div class="custom-container">
  <div class="row">
    <div class="col s12 text-right">
      <button class="custom-button">
        Upload
      </button>
    </div>
  </div>
</div>

<div class="custom-container">
  <div class="row">
    <div class="col s12">
      <h4>Accepted file format:</h4>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <p>-file.psd</p>
      <p>-file.pdf</p>
      <p>-file.png</p>
      <p>-file.txt</p>
      <p>-file.doc</p>
      <p>-file.xls</p>
      <p></p>
    </div>
  </div>

  <div class="row drag-container">
    <div class="col s12">
      <p>drag your files here</p>
    </div>
  </div>
</div>
