<style>
    body {
        margin-top: 70px;
    }
    .main-header {
        font-size: 30px;
        height: 370px;
        background: url("assets/images/1920x400.jpg") center center no-repeat;
        background-size: cover;
    }
    footer {
        margin: 50px 0;
    }
    </style>
    
    <div class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Welcome to our site!</h1>
                    <p>Give a brief introduction as to what this site is about and what sections it has.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <hr />
        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading">What We Do</div>
                    <div class="panel-body">
                        Founded in 1892 and headquartered in Fairfield, CT, LexisNexis Corporate Affiliations 
                        is a technology and financial services company. 
                        The company offers products and services ranging from aircraft engines, power generation, 
                        water processing, and household appliances, among others. 
                        It operates in business segments including Energy Infrastructure, Aviation, Healthcare, 
                        Transportation, Home & Business Solutions, and GE Capital. 
                        The company also provides medical imaging, business and consumer financing, 
                        and industrial products. 
                        It has presence in North America, Europe, Asia, South America, and Africa. 
                        According to the company's current 10K government filing it had FYE 12/31/2011 revenue of 
                        $147.3 billion and has 301,000 employees.
                    </div>               
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Contact Information</div>
                    <div class="panel-body">
                        LexisNexis Corporate Affiliations<br />
                        121 Chanlon Road,<br /> 
                        South Building – First Floor,<br />
                        New Providence, NJ 07974<br />
                        phone: 800.340.3244
                    </div>
                    <div class="text-center">
                        <a href="#"><span class="glyphicon glyphicon-earphone"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">
                <img class="img-circle img-responsive text-center" alt="Bootstrap template" src="assets/images/300x300.jpg">
                <h2>Product 1</h2>
                <p>
                    Product descriptions must focus on the provided keyword and be no less than 100 words. 
                    The keyword must be in the first sentences of the summary, and the additional keyword 
                    should be included somewhere else in the paragraph. 
                    Writers should avoid using “be” verbs and future tense “will” as well as first person 
                    pronouns, including I, me, my, we, us, our, etc. 
                    Maintaining either 2nd or 3rd person throughout the product description is required.
                </p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive" alt="Bootstrap template" src="assets/images/300x3001.png">
                <h2>Product 2</h2>
                <p>
                    Put your TV viewing into overdrive with scenes that jump off your screen when you add 
                    3D HDTVs to your home-theater system. 
                    Alternate-frame sequencing (AFS) gives you every scene in two angles, making every 
                    image pop with clarity and intensity. 
                    This collection has HDTVs in both active and passive 3D – the difference lies in 
                    the glasses needed to view in 3D. 
                    Some models feature refresh rates as high as 600 Hz in plasma models and 480 Hz in LCD models. 
                    Look to the top names in visual entertainment, such as Panasonic, LG, Sony HDTVs and 
                    many others for 42”, 47”, 55” and larger screen sizes. 
                    Regardless of the size, adding a 3D HDTV to your home forever changes the way you 
                    watch TV with vibrant scenes that come to life.
                </p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive" alt="Bootstrap template" src="assets/images/300x3002.jpg">
                <h2>Product 3</h2>
                <p>
                    Spark your child’s imagination with Olive Kids twin sheet sets. 
                    Turn naps and bedtimes into an adventure on the high seas with pirate sheets. 
                    Give the tools of the trade to your little builder with under-construction-themed sheets. 
                    Let your little girl fancy herself a mythical beauty of the ocean with sheets 
                    featuring aquatic life and mermaids. 
                    Feed your little speedster’s need for the fast and furious with race-car sheets. 
                    Find a design your child is sure to love, and look for matching comforter sets to give 
                    your child the ultimate imagination-sparking room. 
                    Whatever style floats the fancy of your child, these twin sheet sets from Olive Kids are fun, 
                    colorful and bright additions to your child’s bedroom decor.
                </p>
            </div>
        </div>
        <hr />
    </div>