<div class="row mobile-only ">
  <div class="col s3">
    <div class="menuToggle" id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <a nohref routerLink="/"><li>Home</li></a>
        <a nohref routerLink="documents"><li>Documents</li></a>          
        <a nohref routerLink="text-blast"><li>Message Blast</li></a>
        <a nohref routerLink="promotion"><li>Promotion</li></a>
        <a nohref routerLink="seminar"><li>Streaming Now</li></a>
        <a nohref routerLink="playlist"><li>Playlist</li></a>
      </ul>
    </div>
  </div>
  <div class="col s6 text-center">
    <img src="assets/images/logo-2.png">
  </div>
</div>

<div class="container padding-header tablet-and-up">
<div class="row">
  <div class="col s2">
   <p class="menu-padding"><a nohref class="menu-anchor" routerLink="/">Home</a></p> 
  </div>
  <div class="col s2">
    <p class="menu-padding"><a nohref class="menu-anchor" routerLink="documents">Documents</a></p> 
  </div>
  <div class="col s2">
    <p class="menu-padding"><a nohref class="menu-anchor" routerLink="text-blast">Message Blast</a></p> 
  </div>
  <div class="col s2">
    <p class="menu-padding"><a nohref class="menu-anchor" routerLink="promotion">Promotion</a></p> 
  </div>
  <div class="col s2">
    <p class="menu-padding"><a nohref class="menu-anchor" routerLink="seminar">Streaming Now</a></p> 
  </div>
  <div class="col s2">
    <p class="menu-padding"><a nohref class="menu-anchor" routerLink="playlist">Playlist</a></p> 
  </div>
</div>
</div>